<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,414},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>about_hsharmaLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,257},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>about_starlingLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,190},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>bgLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,128},{1024,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,292}}</string>
                <key>sourceSize</key>
                <string>{1024,292}</string>
            </dict>
            <key>bgLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,128},{1024,219}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{1024,219}}</string>
                <key>sourceSize</key>
                <string>{1024,229}</string>
            </dict>
            <key>bgLayer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,124}}</string>
                <key>offset</key>
                <string>{-90,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,124}}</string>
                <key>sourceSize</key>
                <string>{1024,124}</string>
            </dict>
            <key>fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>fly_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>gameOver_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,696},{163,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{163,79}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>gameOver_mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,414},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>gameOver_playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,592},{163,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1041},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,871},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,432},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,264},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1204},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1123},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,370},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>obstacle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{106,108}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle1_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1111},{122,106}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,777},{128,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle2_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,991},{122,118}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{120,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{120,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle3_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1111},{122,106}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,889},{126,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{126,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,889},{126,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{126,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>obstacle4_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,991},{122,118}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>particleEat.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,258},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>particleWindForce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{286,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,4}}</string>
                <key>sourceSize</key>
                <string>{286,4}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,390},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,370},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,348},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,306},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,264},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,506},{164,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>watchOut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,777},{92,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,777},{92,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,777},{92,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,777},{92,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>watchOut_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,777},{92,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>welcome_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,953},{86,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>welcome_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{170,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,186}}</string>
                <key>sourceSize</key>
                <string>{178,192}</string>
            </dict>
            <key>welcome_playButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,324},{176,88}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{176,88}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>welcome_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{304,128}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d2e9e572aaad00e9081c1652eeb0d7:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
